@media screen and (max-width: 480px){
    .container{
        min-width: 300px;
    }
    
    .row{
        flex-wrap: wrap;
    }

    div.row .col{
        width: 100%;
        margin: 10% 0;
    }

    section.steps{
        margin-top: 3rem;
        margin-bottom: 0;
    }

    section.why-us{
        margin-bottom: 0;
        padding: 3rem 0;
        background-color: #15141A;
    }

}